<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="mb-4">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">My Website</a>
        </nav>
    </header>

    <main class="container">
        <h2 class="mb-4">Register</h2>
        <div class="alert alert-danger" role="alert"> Prośba o wybranie roli 'REDACTOR', posiada prawa edycji</div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </main>

    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>