[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
python-dotenv = "*"
psycopg2 = "*"
djangorestframework-jwt = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"
flake8-bugbear = "*"

[requires]
python_version = "3.12"
